*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(95, 95, 95);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.headerContainer{
    background-color: black;
    height: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: rgb(72, 72, 252);
    justify-content: space-between;
    padding: 10px;
}

.headerContainer h4{
     margin-left: 10px; 
}
.headerContainer a{
     margin-right: 10px; 
}

.searchContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.searchContainer input{
    height: 40px;
    width: 40%;
    margin-right: 10px;
    border: solid 1px transparent;
    border-radius: 4px;
    background-color: gray;
    color: white;
    text-align: center;
}
.searchContainer button{
    color: white;
    background-color: rgb(189, 51, 51);
    width: 100px;
    border-radius: 5px;
    border: solid 1px transparent ;
    font-family: inherit;
    text-align: center;
}
